{% extends 'base.html.twig' %}

{% block page_title 'Connexion'  %}

{% block content %}
    <div class="row">
        <div class="col-xs6 col-xs-push-3">
            <div class="text-center">Connexion</div>
        </div>
    </div>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible">
            {{ message }}
        </div>
    {% endfor %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form(form) }}

    {#<form action="{{ path('security_login') }}" method="post">#}
        {#<label for="username">Email:</label>#}

        {#<input type="text" id="username" name="_username" value="{{ last_username }}" />#}

        {#<label for="password">Password:</label>#}

        {#<input type="password" id="password" name="_password" />#}

        {##}
            {#If you want to control the URL the user#}
            {#is redirected to on success (more details below)#}
            {#<input type="hidden" name="_target_path" value="/account" />#}
        {##}

        {#<button type="submit">{{ 'login' | trans }}</button>#}
    {#</form>#}
{% endblock %}