{% set articles = articles ?? [] %}

{% trans_default_domain 'module.article.last_articles' %}

<!--tab popular-->
<ul role="tablist" class="tab-popular">
    <li class="active">
        <a href="#tab1" role="tab" data-toggle="tab">
            {{ 'module.article.last_articles.title' | trans }}
        </a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1">
        <ul class="list-news-popular">
            {% for article in articles %}
                <li>
                    <a href="{{ path('article_show', { 'category' : article.category.slug, 'slug' : article.slug, 'id' : article.id } )}}">
                        <img alt="{{ article.title }}" src="{{ article.featuredImage }}" />
                    </a>

                    <h3>
                        <a href="{{ path( 'category_articles', { 'slug' : article.category.slug } ) }}" class="cate-tag">
                            {{ article.category.name }}
                        </a>
                    </h3>

                    <div class="meta-post">
                        <a href="/author/{{ article.user.id }}">
                            {{ article.user.firstName ~ ' ' ~ article.user.lastName }}
                        </a>

                        <em></em>

                        <span>
                            {{ article.createdDate | date('d-m-Y') }}
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>